body, html {
    margin: 0;
    padding: 0;
    font-family: baloo, sans-serif;
    text-align: center;
    background: url('https://i.ibb.co/Lhqg1H8R/wallpaperbetter-com-2560x1080-1.png') no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #7CFC00;
;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#header-section {
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
}

#title {
    font-size: 8rem; /* Aumenta el tamaño */
    color: #7CFC00; /* Color llamativo */
    text-align: center;
    font-family: 'Baloo', sans-serif;
    margin: 10px 0;
}

#slogan {
    font-size: 1.5rem; /* Un poco más pequeño */
    color: #7CFC00; /* Color secundario */
    text-align: center;
    margin-bottom: 10px;
}

#cstrFreePlayerDiv {
    width: 850px; /* Ajusta el ancho deseado */
    height: 135px; /* Ajusta el alto deseado */
    margin: 0 auto; /* Centra horizontalmente */
    position: absolute; /* Cambia de relative a absolute */
    top: 50%; /* Posiciona verticalmente al centro de la página */
    transform: translateY(-50%); /* Corrige para centrar exactamente */
    background-color: #f0f0f0; /* Color de fondo opcional */
    z-index: 1; /* Asegúrate de que esté en una capa superior */
}


footer {
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
}

#social-icons img {
    width: 40px;
    margin: 0 10px;
}
